<h1><%= @cocktail.name %></h1>
<p><% @cocktail.doses.each do |dose| %></p> 
<%= dose.description %>
<%= dose.ingredient.name %>
<%= link_to "Delete this line", dose_path(dose.id),
method: :delete,
data: { confirm: "Are you sure?" } %>
<% end %>

<h4>Add a Dose</h4>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: @ingredients, include_blank: false %>
  <%= f.submit "Add a dose", class: "btn btn-primary" %>
  <% end %>

<%= link_to "Back to cocktails", cocktails_path, class: "btn btn-primary" %>